{% extends "auctions/layout.html" %}

{% block title %} Create New Listing{% endblock %}


{% block body %}
<div class="create_list">
    <h1 style="text-align: center; margin-bottom: 15px;">Create New Listing</h1>
    <form action="{% url 'create_listing'%}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" rows="20" placeholder="Description" required></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="image_url" rows="1" placeholder="Image URL (optional)"></textarea>
        </div>
        <div class="form-group dollar-input">
            <input class="form-control input-bid" type="number" step="any" name="starting_bid" placeholder="Starting bid" required>
            <span class="dollar-symbol">$</span>
        </div>
            
        <div class="form-group">
            <select class="form-control" name="category" required>
                <option value="" disabled selected style="color: red;">Select a category</option>
                {% for category in categories %}
                    <option value="{{ category.0 }}">{{ category.1 }}</option>
                {% endfor %}
            </select>
        </div>      
        <input class="btn btn-primary centered-button" type="submit" value="Create Listing">
    </form>
</div>
{% endblock %}
