{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="listing_title">Active Listings</h2>
    <div class="listings-container"> 
    {% if auctions %}
    {% for auction in auctions %}
    <a class="listing-link" href="{% url 'listing' auction.id %}">
        <div class="listings">
            <div class="listings-content">
                {% if auction.image_url %}
                <div class="image-container">
                    <img class="listings-image" src="{{ auction.image_url }}" alt="Listing Image">
                </div>
                {% else %}
                    <div class="image-container">
                        <img class="listings-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Image_not_available.png/640px-Image_not_available.png" alt="Image Not Available">
                    </div>
                {% endif %}
                <div class="listings-details">
                    <p id="title">{{ auction.title|slice:":22" }}{% if auction.title|length > 22 %}...{% endif %}</p>
                    <div class="bid-price">
                        {% if auction.highest_bid %}
                            <p id="price">${{ auction.highest_bid|floatformat:2 }}</p>
                        {% else %}
                            <p id="price">${{ auction.starting_bid|floatformat:2 }}</p>
                        {% endif %}
                        <p id="bids">{{ auction.bids.count }} bid(s)</p>
                    </div>
                    <p id="description">{{ auction.description|slice:":42" }}{% if auction.description|length > 42 %}...{% endif %}</p>
                </div> 
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
        {{ message }}
    {% endif %}
    </div>
{% endblock %}
